@charset "utf-8";
/* CSS Document */

/*******************************************************************************************/
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
/*******************************************************************************************/
/*******************************************************************************************/
html, body {
 background: #333949 url("../img/bg.png") repeat-x;
 color: #fff;
 font-family: verdana, arial, sans-serif;
 height: 100%;
}

h1 { font-size: 36px; }
h2 { font-size: 24px; }

a, a:visited, a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

.wrapper {
  width: 960px;
  margin: 0px auto 0px auto;
}

#background {
  background: transparent url("../img/shadow.png") repeat-x;
  height: 100%;
}

#container {
  margin: 0px auto 0px auto;
}

#main-wrapper {
  min-height: 922px;
}

#top-bar {
  background: transparent url("../img/top-bar.png") repeat-x;
  height: 55px;
}

#song {
  float: left;
  font-size: 12px;
  color: #6a7796;
  margin-top: 18px;
}

#links {
  height: 100%;
  float: right;
}

#links ul {
  float: right;
  margin-top: 18px;
}

#links li {
  display: inline;
  padding-left: 5px;
}

#main-nav {
  height: 108px;
}

#logo {
  width: 480px;
  height: 100%;
  float: left;
}

#logo h1 { margin-top: 36px; }

#nav {
  width: 480px;
  height: 100%;
  float: right;
}

#nav ul {
  margin-top: 42px;
  float: right;
}

#nav li {
  display: inline;
  padding: 15px;
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
}

#nav li a {
  color: #626876;
}

#nav li:hover {
  background-color: #161920;
}

#nav li:hover a {
  color: #fff;
}

#banner img {
  border: 5px solid #fff;
}

#footer-top {
  height: 225px;
  background-color: #0f131f;
}

#footer-bottom {
  height: 60px;
  background-color: #040507;
  font-size: 12px;
  color: #6a7796;
}

#copyright {
  padding-top: 24px;
}

