%ul
  %li{:id => 'github'}
    %a{:href => 'http://github.com/mportiz08', :target => '_blank'}
      %img{:src => '/images/github.png'}
      %h2
        my open source code
  %li{:id => 'twitter'}
    %a{:href => 'http://twitter.com/mportiz08', :target => '_blank'}
      %img{:src => '/images/twitter.png'}
      %h2
        my thoughts
  %li{:id => 'flickr'}
    %a{:href => 'http://flickr.com/mportiz08', :target => '_blank'}
      %img{:src => '/images/flickr.png'}
      %h2
        my photos
