%ul
  %li
    %h4
      See my attempts at learning Ruby and other open-source 
      %a{:href => 'http://github.com/mportiz08', :target => '_blank'}
        code
      I've written.
  %li
    %h4
      Read up on my latest random 
      %a{:href => 'http://twitter.com/mportiz08', :target => '_blank'}
        thoughts
  %li
    %h4
      or watch some 
      %a{:href => 'http://youtube.com/mportiz08', :target => '_blank'}
        videos 
      I've made with friends.
  %li
    %h4
      If we're friends, let 
      %a{:href => 'http://facebook.com/marcusortiz', :target => '_blank'}
        facebook 
      know.
  %li
    %h4
      Check out the 
      %a{:href => 'http://last.fm/user/chipitople', :target => '_blank'}
        music 
      I've been listening to lately.
  %li
    %h4
      I like to 
      %a{:href => 'http://delicious.com/chipitople', :target => '_blank'}
        bookmark 
      helpful things I find on the web
  %li
    %h4
      and 
      %a{:href => 'http://digg.com/chipitople', :target => '_blank'}
        digg 
      stories that I find entertaining.
  %li
    %h4
      Every once in a while, I take a 
      %a{:href => 'http://flickr.com/mportiz08', :target => '_blank'}
        picture 
      or two.
  