!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %title
      marcusortiz.com
    %link{:rel => 'stylesheet', :href => '/application.css', :type => 'text/css', :media => 'all'}
    = @ie_hack
  %body
    #container
      #top
        #header
          .content
            = @song
        .content
          .message
            %h1
              Hi, my name is Marcus Ortiz.
            %h4
              I like to write code, play music, and swing racquets at tennis balls.
      #bottom
        .content
          = yield
      #footer
        this site designed by Marcus Ortiz with the hlep of 
        %a{:href => 'http://www.sinatrarb.com', :class => 'sinatra', :target => '_blank'}
          sinatra, 
        %a{:href => 'http://haml-lang.com', :class => 'haml', :target => '_blank'}
          haml, 
        and 
        %a{:href => 'http://sass-lang.com', :class => 'sass', :target => '_blank'}
          sass
