!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %title
      marcusortiz.com
    %link{:rel => 'stylesheet', :href => '/stylesheets/application.css', :type => 'text/css', :media => 'all'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/prettify.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/fancybox.css', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    %script{:src => '/javascripts/prettify.js', :type => 'text/javascript'}
    %script{:src => '/javascripts/fancybox.js', :type => 'text/javascript'}
    %script{:src => '/javascripts/application.js', :type => 'text/javascript'}
    = @ie_hack
  %body
    #container
      #top
        #header
          .content
            = @song
        .content
          .message
            %h1
              Hi, my name is 
              %a{:href => '/'}
                Marcus Ortiz.
            %h4
              I like to write code, play music, and swing racquets at tennis balls.
          #code-snippet
            %pre
              %a{:href => '/project/latest'}
                %code
                  = @snippet
          .clear
      #bottom
        .content
          = yield
      #footer-container
        #footer
          this site designed by Marcus Ortiz with the hlep of 
          %a{:href => 'http://www.sinatrarb.com', :class => 'sinatra', :target => '_blank'}
            sinatra, 
          %a{:href => 'http://haml-lang.com', :class => 'haml', :target => '_blank'}
            haml, 
          and 
          %a{:href => 'http://sass-lang.com', :class => 'sass', :target => '_blank'}
            sass
