#project
  %h2
    %a{:href => 'http://rubygems.org/gems/itunes-cli'}
      itunes-cli
  %h4.small_header.description
    "control itunes through the command line"
  %p
    %a{:href => 'http://github.com/mportiz08/itunes-cli', :target => '_blank'}
      %strong
        contribute
