#project
  %h2
    %a{:href => 'http://statusglob.marcusortiz.com'}
      status *
  %h4.small_header.description
    "collect your data from different social networks all in one place"
  .images
    %a{:href => '/images/statusglob-screenshot-01.jpg'}
      %img{:src => '/images/statusglob-screenshot-01.jpg', :width => '30%', :height => '30%', :rel => 'gallery', :id => '#screenshot-01'}
    %a{:href => '/images/statusglob-screenshot-02.jpg'}
      %img{:src => '/images/statusglob-screenshot-02.jpg', :width => '30%', :height => '30%', :rel => 'gallery', :id => '#screenshot-02'}
    %a{:href => '/images/statusglob-screenshot-03.jpg'}
      %img{:src => '/images/statusglob-screenshot-03.jpg', :width => '30%', :height => '30%', :rel => 'gallery', :id => '#screenshot-03'}
    %a{:href => '/images/statusglob-screenshot-04.jpg'}
      %img{:src => '/images/statusglob-screenshot-04.jpg', :width => '30%', :height => '30%', :rel => 'gallery', :id => '#screenshot-04'}
  %p
    %a{:href => 'http://github.com/mportiz08/statusglob', :target => '_blank'}
      %strong
        contribute
  %p
    (pre-alpha: this project is currently very unstable, use at your own risk!)
