#project
  %h2
    %a{:href => 'http://techstori.marcusortiz.com'}
      techstori
  %h4.small_header.description
    "inspired by 
    %a{:href => 'http://twistori.com', :target => '_blank'}
      twistori
    "
  .images
    %a{:href => '/images/techstori-screenshot-01.jpg'}
      %img{:src => '/images/techstori-screenshot-01.jpg', :width => '30%', :height => '30%', :rel => 'gallery', :id => '#screenshot-01'}
    %a{:href => '/images/techstori-screenshot-02.jpg'}
      %img{:src => '/images/techstori-screenshot-02.jpg', :width => '30%', :height => '30%', :rel => 'gallery', :id => '#screenshot-02'}
    %a{:href => '/images/techstori-screenshot-03.jpg'}
      %img{:src => '/images/techstori-screenshot-03.jpg', :width => '30%', :height => '30%', :rel => 'gallery', :id => '#screenshot-03'}
  %p
    %a{:href => 'http://github.com/mportiz08/techstori', :target => '_blank'}
      %strong
        contribute
