#project
  %p
    (here's some of the stuff i've been working on lately)
  %h2
    %a{:href => '/projects/itunes-cli'}
      itunes-cli
  %h4.small_header.description
    "control itunes through the command line"
  %h2
    %a{:href => '/projects/statusglob'}
      status *
  %h4.small_header.description
    "collect your data from different social networks all in one place"
  %h2
    %a{:href => '/projects/techstori'}
      techstori
  %h4.small_header.description
    "inspired by 
    %a{:href => 'http://twistori.com', :target => '_blank'}
      twistori
    "
