/*******************************************************************************************/
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  vertical-align: baseline
  background: transparent
  font:
    size: 100%
body
  line-height: 1
ol, ul
  list-style: none
blockquote, q
  quotes: none
blockquote:before, blockquote:after,
q:before, q:after
  content: none
\:focus
  outline: 0
ins
  text-decoration: none
del
  text-decoration: line-through
table
  border-collapse: collapse
  border-spacing: 0
/*******************************************************************************************/
/*******************************************************************************************/
$dark_red: #470404
$light_red: #9f0506
$light_gray: #e7e7e7
$grayish: #aaa

html, body
  color: $grayish
  height: 100%
  background:
    color: #fff
  font:
    family: "Helvetica Neue", helvetica, sans-serif
    
h1
  font:
    size: 60px
h2
  font:
    size: 56px
h3
  font:
    size: 36px
h4
  font:
    size: 24px
    
a, a:hover, a:visited, a:active
  color: #333
  text:
    decoration: none

code
  font:
    family: "Menlo", "Monaco", "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important
    size: 14px
    
.clear
  clear: both
  height: 0
  overflow: hidden
  
.wrapper
  width: 960px
  margin: 0 auto
  
.small_header
  color: $grayish
  font:
    weight: normal
  text:
    shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
  
#top
  height: 337px
  background:
    color: $dark_red
    image: url("/images/banner.png")
    repeat: no-repeat
    position: center
    
#header
  height: 30px
  padding: 20px 0
  background:
    color: rgba(0, 0, 0, 0.5)
  border:
    bottom: 1px solid #000
    
#header a
  color: #fff
    
#header .content
  @extend .wrapper
  height: 30px
    
#top .content
  @extend .wrapper
    
#top .message
  width: 480px
  padding: 30px 0 0 0
  float: left
    
#top .message h1
  color: #fff
  padding: 0 0 15px 0
  text:
    shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
  line:
    height: 48px
    spacing: -0.025em
    
#top h4, #bottom h4
  @extend .small_header
    
#header h4
  @extend .small_header
  float: right
  width: 910px
  font:
    size: 16px
    
#top .content h4
  line:
    height: 26px
    
#code-snippet
  width: 480px
  margin-top: 50px
  float: left
  
#bottom .content h4
  color: $dark_red
  line:
    height: 50px
  text:
    align: right

#bottom .content
  @extend .wrapper
  padding: 50px 0
  
#bottom .content a
  color: $light_red
  
#footer-container
  background:
    color: rgba(231, 231, 231, 0.5)
  
#footer
  @extend .wrapper
  padding: 20px 0
  margin-top: 50px
  text:
    align: center
  letter:
    spacing: 2px
    
#footer a
  color: #000
  font:
    weight: bold
  
#footer a.sinatra:hover
  color: #6d6d6d
  
#footer a.haml:hover
  color: #ff3836
  
#footer a.sass:hover
  color: #ce4dd6
