/*******************************************************************************************/
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  vertical-align: baseline
  background: transparent
  font:
    size: 100%
body
  line-height: 1
ol, ul
  list-style: none
blockquote, q
  quotes: none
blockquote:before, blockquote:after,
q:before, q:after
  content: none
\:focus
  outline: 0
ins
  text-decoration: none
del
  text-decoration: line-through
table
  border-collapse: collapse
  border-spacing: 0
/*******************************************************************************************/
/*******************************************************************************************/
$dark_red: #470404
$light_red: #9f0506

html, body
  color: #333
  height: 100%
  background:
    color: #e7e7e7
  font:
    family: "Helvetica Neue", helvetica, sans-serif
    
h1
  font:
    size: 60px
h2
  font:
    size: 56px
h3
  font:
    size: 36px
h4
  font:
    size: 24px
    
.clear
  clear: both
  height: 0
  overflow: hidden
  
#top
  height: 337px
  background:
    color: $dark_red
    image: url("/images/banner.png")
    repeat: no-repeat
    position: center
    
    
#top h1
  color: #fff
